[submodule "cpr"]
	path = cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "gason"]
	path = gason
	url = git@github.com:vivkin/gason.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
